body {
    background: #e8ffe8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header, .footer {
    background-color: #0d912e;
    color: white;
    text-align: center;
    padding: 1em 0;
}

p {
    color: #0000009a;
}

.compact h3 {
    margin-bottom: 0px;
    color: #0d912e;
}

.compact h4 {
    margin-top: 0px;
    margin-bottom: 2px;
    color: #0d912e7e;
}

.compact p {
    margin-top: 0;
    color: #0000009a;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.section {
    opacity: 1; 
    transform: translateY(0); 
    visibility: visible; 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-contact .fa-linkedin {
    font-size: 30px;
    color: #0e76a8;
    margin-right: 8px;
    transition: color 0.3s ease;
}

.section-contact .fa-linkedin:hover {
    color: #0e77a870;
}

.section-contact .fa-github {
    font-size: 30px;
    color: #000000;
    margin-right: 8px;
    transition: color 0.3s ease;
}

.section-contact .fa-github:hover {
    color: #0000008f;
}
